@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Handlee&display=swap');

:root{
    --main-color: white;
    --info-color: black;

    --info-bg-color: rgba(255, 246, 226, 0.95);

    --hover-color: rgb(201, 201, 201);

    --darken-color: rgba(0,0,0,0.5);

    --line-color: lightgray;
}

*{
    color: var(--main-color);
    font-size: 16px;
    font-family: 'Handlee', cursive;
}

body{
    background: url(../src/background.jpg), var(--darken-color);
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    margin: 0px;
}

#content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darken-color);
    position:static;
}

.logo{
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    letter-spacing: -0.7rem;
}

.navigation{
    display: flex;
    width: 20%;
    padding: 0px;
    justify-content: space-between;
    margin: 0px;

}

.navigation li {
    list-style: none;
}

.navigation li a{
    font-size: 1.5rem;
    margin: 15px;
    text-decoration: none;
}

.navigation li a:hover{
    color: var(--hover-color);
}

.main-hero{
    height: 96vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 6rem;
    margin: .8rem;
    font-weight: normal;
}

.saying{
    font-size: 2rem;
    font-style: italic;
}

.menu, .contact{
    background-color: var(--info-bg-color);
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
}

.menu *, .contact *{
    color: var(--info-color);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-header{
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 10px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--line-color);
    margin-bottom: 20px;
}

.item-name{
    font-size: 2rem;
}

.contact-heading{
    font-size: 3rem;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
    border-bottom: 2px solid var(--line-color)
}

.contact-grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr;
    width: 50rem;
}

.contact-grid * {
    font-size: 1.5rem;
}

.hours-container{
    text-align: center;
    justify-self: center;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.hours-head{
    font-size: 2rem;
    text-decoration: underline;
    margin-bottom: 5px;
}

.footer{
    margin: 5px;
    text-align: center;
}